
<app-header></app-header>
<router-outlet></router-outlet>
<app-buttons></app-buttons>

<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h4>ngxs test</h4>
</div>

<input #userName type="text" placeholder="Username">
<button *ngIf="!(authenticated$ | async)" (click)="logIn(userName.value)">LogIn</button>
<button *ngIf="authenticated$ | async" (click)="logOut()">LogOut</button>

<div style="padding-top: 12px;">
  <code>
    <span>
      Logged in: <span [ngStyle]="{'color': (authenticated$ | async) ? 'green' : 'red'}" style="font-weight: bold;">{{ authenticated$ | async }}</span>
    </span>
    <br />
    <span *ngIf="user$ | async">
      User: <span style="color: green; font-weight: bold;">{{ user$ | async }}</span>
    </span>
  </code>
</div> -->